## Proof Of Concept ML Problem

In [40]:
from sklearn.neural_network import MLPRegressor
from sklearn.datasets import make_regression
from sklearn.model_selection import train_test_split
import pandas as pd
import numpy as np
from sklearn.preprocessing import MinMaxScaler

In [22]:
## Getting our data
artists = pd.read_csv("ml_artists.csv")
track = pd.read_csv("ml_track.csv")
display(artists)
display(track)

,0,1,2,3,4,5,6
0,00FQb4jTyendYWaN8pK0wa,Lana Del Rey,11706465,85,35,3,NaN
1,06HL4z0CvFAxyc27GXpf02,Taylor Swift,34687180,97,31,9,25.0
2,0B3N0ZINFWvizfa8bKiz4v,James TW,734379,74,23,1,NaN
3,0Cp8WN4V8Tu4QJQwCN5Md4,BENEE,536922,76,20,1,NaN
4,0eDvMgVFoNV3TpwtrVCoTj,Pop Smoke,3079237,93,21,1,NaN
...,...,...,...,...,...,...,...
85,790FomKkXshlbRYZFtlgla,KAROL G,13671409,89,29,1,1.0
86,7jVv8c5Fj3E9VhNjxT4snq,Lil Nas X,3819592,82,21,1,5.0
87,7n2wHs1TKAczGzO7Dd2rGr,Shawn Mendes,30486014,92,22,4,1.0
88,7pbDxGE6nQSZVfiFdq9lOL,Rex Orange County,2597380,79,22,1,1.0
89,7wlFDEWiM5OoIAt8RSli8b,YoungBoy Never Broke Again,5982081,86,21,1,NaN

                         0           1
0   00FQb4jTyendYWaN8pK0wa   97.772857
1   06HL4z0CvFAxyc27GXpf02  118.589412
2   0B3N0ZINFWvizfa8bKiz4v  123.911667
3   0Cp8WN4V8Tu4QJQwCN5Md4  125.978000
4   0eDvMgVFoNV3TpwtrVCoTj  128.821111
..                     ...         ...
85  790FomKkXshlbRYZFtlgla  101.080000
86  7jVv8c5Fj3E9VhNjxT4snq  142.742500
87  7n2wHs1TKAczGzO7Dd2rGr  124.161333
88  7pbDxGE6nQSZVfiFdq9lOL  115.629000
89  7wlFDEWiM5OoIAt8RSli8b  136.681579

[90 rows x 2 columns]

In [41]:
## Fixing null values to 0, as they indicate 0 awards and scaling our data
artists = artists.replace(np.nan, 0)
display(artists)

X_unscaled = artists.iloc[:, 2:]
scaler = MinMaxScaler()
X_scaled = scaler.fit_transform(X_unscaled)
display(X_unscaled)
display(X_scaled)

display(track.iloc[:, 1:])

,0,1,2,3,4,5,6
0,00FQb4jTyendYWaN8pK0wa,Lana Del Rey,11706465,85,35,3,0.0
1,06HL4z0CvFAxyc27GXpf02,Taylor Swift,34687180,97,31,9,25.0
2,0B3N0ZINFWvizfa8bKiz4v,James TW,734379,74,23,1,0.0
3,0Cp8WN4V8Tu4QJQwCN5Md4,BENEE,536922,76,20,1,0.0
4,0eDvMgVFoNV3TpwtrVCoTj,Pop Smoke,3079237,93,21,1,0.0
...,...,...,...,...,...,...,...
85,790FomKkXshlbRYZFtlgla,KAROL G,13671409,89,29,1,1.0
86,7jVv8c5Fj3E9VhNjxT4snq,Lil Nas X,3819592,82,21,1,5.0
87,7n2wHs1TKAczGzO7Dd2rGr,Shawn Mendes,30486014,92,22,4,1.0
88,7pbDxGE6nQSZVfiFdq9lOL,Rex Orange County,2597380,79,22,1,1.0
89,7wlFDEWiM5OoIAt8RSli8b,YoungBoy Never Broke Again,5982081,86,21,1,0.0

           2   3   4  5     6
0   11706465  85  35  3   0.0
1   34687180  97  31  9  25.0
2     734379  74  23  1   0.0
3     536922  76  20  1   0.0
4    3079237  93  21  1   0.0
..       ...  ..  .. ..   ...
85  13671409  89  29  1   1.0
86   3819592  82  21  1   5.0
87  30486014  92  22  4   1.0
88   2597380  79  22  1   1.0
89   5982081  86  21  1   0.0

[90 rows x 5 columns]

array([[1.58124064e-01, 4.23076923e-01, 4.35897436e-01, 2.50000000e-01,
        0.00000000e+00],
       [4.71377713e-01, 8.84615385e-01, 3.33333333e-01, 1.00000000e+00,
        1.00000000e+00],
       [8.56187734e-03, 0.00000000e+00, 1.28205128e-01, 0.00000000e+00,
        0.00000000e+00],
       [5.87031070e-03, 7.69230769e-02, 5.12820513e-02, 0.00000000e+00,
        0.00000000e+00],
       [4.05249962e-02, 7.30769231e-01, 7.69230769e-02, 0.00000000e+00,
        0.00000000e+00],
       [1.91139712e-02, 5.76923077e-01, 2.05128205e-01, 0.00000000e+00,
        0.00000000e+00],
       [1.49285665e-03, 3.46153846e-01, 3.33333333e-01, 0.00000000e+00,
        0.00000000e+00],
       [2.65615590e-01, 5.76923077e-01, 5.12820513e-01, 0.00000000e+00,
        4.80000000e-01],
       [3.75314041e-02, 4.23076923e-01, 3.07692308e-01, 0.00000000e+00,
        0.00000000e+00],
       [8.72548935e-02, 4.61538462e-01, 5.12820513e-02, 0.00000000e+00,
        0.00000000e+00],
       [5.96840048e-03, 1.15384615e-01, 1.79487179e-01, 0.00000000e+00,
        0.00000000e+00],
       [1.91322642e-01, 7.30769231e-01, 2.82051282e-01, 0.00000000e+00,
        4.00000000e-02],
       [9.27882148e-03, 2.30769231e-01, 3.07692308e-01, 0.00000000e+00,
        0.00000000e+00],
       [4.45213914e-02, 2.69230769e-01, 2.30769231e-01, 1.25000000e-01,
        0.00000000e+00],
       [3.21935113e-01, 6.53846154e-01, 1.02564103e-01, 3.75000000e-01,
        0.00000000e+00],
       [3.69510305e-02, 7.69230769e-02, 1.00000000e+00, 0.00000000e+00,
        1.60000000e-01],
       [6.84354642e-02, 2.30769231e-01, 7.69230769e-02, 0.00000000e+00,
        0.00000000e+00],
       [0.00000000e+00, 0.00000000e+00, 5.12820513e-02, 0.00000000e+00,
        0.00000000e+00],
       [1.32265125e-02, 1.92307692e-01, 1.53846154e-01, 1.25000000e-01,
        0.00000000e+00],
       [2.71994261e-02, 1.15384615e-01, 7.69230769e-02, 1.25000000e-01,
        8.00000000e-02],
       [3.05045473e-01, 6.92307692e-01, 2.05128205e-01, 0.00000000e+00,
        4.00000000e-02],
       [1.81437930e-01, 5.00000000e-01, 5.38461538e-01, 1.25000000e-01,
        4.00000000e-02],
       [5.50602549e-01, 8.46153846e-01, 2.05128205e-01, 3.75000000e-01,
        8.00000000e-02],
       [2.53248358e-01, 3.46153846e-01, 3.33333333e-01, 6.25000000e-01,
        2.00000000e-01],
       [3.35680523e-01, 8.07692308e-01, 4.35897436e-01, 0.00000000e+00,
        8.00000000e-02],
       [9.37800311e-02, 4.61538462e-01, 2.82051282e-01, 3.75000000e-01,
        1.60000000e-01],
       [4.07394265e-01, 6.92307692e-01, 1.79487179e-01, 1.25000000e-01,
        4.00000000e-02],
       [1.28640738e-02, 0.00000000e+00, 1.53846154e-01, 0.00000000e+00,
        0.00000000e+00],
       [1.79930542e-02, 3.07692308e-01, 3.33333333e-01, 0.00000000e+00,
        0.00000000e+00],
       [4.47516488e-02, 3.84615385e-01, 2.56410256e-01, 0.00000000e+00,
        0.00000000e+00],
       [7.63460587e-02, 5.38461538e-01, 1.53846154e-01, 0.00000000e+00,
        0.00000000e+00],
       [3.19029374e-02, 2.69230769e-01, 5.12820513e-02, 0.00000000e+00,
        2.00000000e-01],
       [1.04857919e-02, 7.69230769e-02, 4.87179487e-01, 0.00000000e+00,
        0.00000000e+00],
       [2.69177383e-02, 1.92307692e-01, 2.30769231e-01, 0.00000000e+00,
        8.00000000e-02],
       [1.99255810e-01, 5.76923077e-01, 2.56410256e-01, 0.00000000e+00,
        2.40000000e-01],
       [1.66914018e-02, 2.30769231e-01, 1.28205128e-01, 0.00000000e+00,
        0.00000000e+00],
       [2.57704723e-02, 3.46153846e-01, 1.02564103e-01, 0.00000000e+00,
        0.00000000e+00],
       [6.99650432e-01, 8.46153846e-01, 4.10256410e-01, 0.00000000e+00,
        3.60000000e-01],
       [1.57904888e-01, 1.53846154e-01, 1.02564103e-01, 0.00000000e+00,
        0.00000000e+00],
       [4.14342351e-02, 2.69230769e-01, 0.00000000e+00, 0.00000000e+00,
        0.00000000e+00],
       [8.25997864e-02, 4.61538462e-01, 1.53846154e-01, 2.50000000e-01,
        8.00000000e-02],
       [5.16662149e-02, 2.30769231e-01, 1.28205128e-01, 0.00000000e+00,
        0.00000000e+00],
       [9.52783948e-02, 4.23076923e-01, 3.58974359e-01, 2.50000000e-01,
        0.00000000e+00],
       [1.91948421e-01, 8.84615385e-01, 1.02564103e-01, 0.00000000e+00,
        4.00000000e-02],
       [2.59931399e-01, 4.23076923e-01, 1.28205128e-01, 0.00000000e+00,
        7.60000000e-01],
       [1.28477069e-01, 3.07692308e-01, 1.28205128e-01, 0.00000000e+00,
        0.00000000e+00],
       [6.02496976e-05, 1.53846154e-01, 2.30769231e-01, 0.00000000e+00,
        0.00000000e+00],
       [3.77788150e-01, 1.00000000e+00, 2.05128205e-01, 0.00000000e+00,
        8.00000000e-02],
       [6.95299913e-02, 7.30769231e-01, 2.82051282e-01, 0.00000000e+00,
        0.00000000e+00],
       [1.87285504e-02, 1.53846154e-01, 1.28205128e-01, 0.00000000e+00,
        0.00000000e+00],
       [7.74913754e-02, 4.61538462e-01, 5.12820513e-02, 0.00000000e+00,
        0.00000000e+00],
       [7.36252259e-02, 3.84615385e-01, 2.82051282e-01, 3.75000000e-01,
        0.00000000e+00],
       [1.21823294e-01, 1.53846154e-01, 6.15384615e-01, 2.50000000e-01,
        3.20000000e-01],
       [6.79027451e-02, 3.07692308e-01, 3.07692308e-01, 6.25000000e-01,
        4.00000000e-02],
       [7.70484584e-02, 6.15384615e-01, 2.82051282e-01, 0.00000000e+00,
        0.00000000e+00],
       [9.60526306e-02, 2.30769231e-01, 4.10256410e-01, 0.00000000e+00,
        1.60000000e-01],
       [4.50540832e-02, 1.15384615e-01, 3.58974359e-01, 1.25000000e-01,
        2.40000000e-01],
       [2.38630514e-02, 2.30769231e-01, 1.53846154e-01, 0.00000000e+00,
        0.00000000e+00],
       [6.06197971e-02, 4.61538462e-01, 1.79487179e-01, 0.00000000e+00,
        4.00000000e-02],
       [3.02526000e-02, 4.23076923e-01, 6.15384615e-01, 3.75000000e-01,
        4.00000000e-02],
       [3.76841412e-03, 7.69230769e-02, 1.28205128e-01, 0.00000000e+00,
        0.00000000e+00],
       [1.74783514e-01, 6.15384615e-01, 6.41025641e-01, 3.75000000e-01,
        4.40000000e-01],
       [9.44660734e-03, 2.69230769e-01, 2.82051282e-01, 0.00000000e+00,
        0.00000000e+00],
       [2.44728451e-01, 5.76923077e-01, 6.92307692e-01, 1.25000000e-01,
        0.00000000e+00],
       [4.08577191e-02, 3.46153846e-01, 0.00000000e+00, 0.00000000e+00,
        0.00000000e+00],
       [1.18079375e-01, 2.69230769e-01, 1.79487179e-01, 0.00000000e+00,
        0.00000000e+00],
       [7.41645180e-01, 9.23076923e-01, 2.30769231e-01, 3.75000000e-01,
        2.00000000e-01],
       [1.36662535e-02, 1.92307692e-01, 3.33333333e-01, 3.75000000e-01,
        0.00000000e+00],
       [3.49438705e-02, 5.00000000e-01, 7.69230769e-02, 0.00000000e+00,
        0.00000000e+00],
       [1.07628042e-02, 5.38461538e-01, 7.69230769e-02, 0.00000000e+00,
        0.00000000e+00],
       [1.00000000e+00, 6.53846154e-01, 2.82051282e-01, 2.50000000e-01,
        3.60000000e-01],
       [6.80473989e-03, 5.38461538e-01, 5.12820513e-02, 0.00000000e+00,
        0.00000000e+00],
       [2.76862219e-02, 4.23076923e-01, 2.56410256e-02, 0.00000000e+00,
        0.00000000e+00],
       [1.52429063e-01, 6.15384615e-01, 2.05128205e-01, 1.25000000e-01,
        0.00000000e+00],
       [1.65258241e-01, 4.61538462e-01, 4.35897436e-01, 0.00000000e+00,
        0.00000000e+00],
       [1.76914745e-01, 6.15384615e-01, 1.02564103e-01, 1.25000000e-01,
        0.00000000e+00],
       [2.91685621e-01, 7.30769231e-01, 1.79487179e-01, 0.00000000e+00,
        2.00000000e-01],
       [4.97126580e-01, 6.92307692e-01, 2.56410256e-02, 3.75000000e-01,
        6.00000000e-01],
       [6.87001948e-03, 2.69230769e-01, 2.05128205e-01, 0.00000000e+00,
        0.00000000e+00],
       [3.74355771e-02, 5.00000000e-01, 3.07692308e-01, 1.25000000e-01,
        0.00000000e+00],
       [7.55999030e-02, 5.38461538e-01, 7.69230769e-02, 0.00000000e+00,
        0.00000000e+00],
       [8.15912174e-02, 2.30769231e-01, 1.00000000e+00, 0.00000000e+00,
        8.00000000e-02],
       [5.29585437e-02, 4.23076923e-01, 3.07692308e-01, 0.00000000e+00,
        0.00000000e+00],
       [6.72099008e-02, 5.38461538e-01, 1.02564103e-01, 1.25000000e-01,
        0.00000000e+00],
       [8.77052668e-02, 6.15384615e-01, 2.30769231e-01, 1.25000000e-01,
        0.00000000e+00],
       [1.84908517e-01, 5.76923077e-01, 2.82051282e-01, 0.00000000e+00,
        4.00000000e-02],
       [5.06168887e-02, 3.07692308e-01, 7.69230769e-02, 0.00000000e+00,
        2.00000000e-01],
       [4.14110975e-01, 6.92307692e-01, 1.02564103e-01, 3.75000000e-01,
        4.00000000e-02],
       [3.39567296e-02, 1.92307692e-01, 1.02564103e-01, 0.00000000e+00,
        4.00000000e-02],
       [8.00941078e-02, 4.61538462e-01, 7.69230769e-02, 0.00000000e+00,
        0.00000000e+00]])

             1
0    97.772857
1   118.589412
2   123.911667
3   125.978000
4   128.821111
..         ...
85  101.080000
86  142.742500
87  124.161333
88  115.629000
89  136.681579

[90 rows x 1 columns]

In [58]:
X = X_scaled
y = (track.iloc[:, 1:]).to_numpy()
Xtrain, Xtest, ytrain, ytest = train_test_split(X, y)
model = MLPRegressor(random_state=1, max_iter=500).fit(Xtrain, ytrain)

print(model.predict(Xtest))
print(ytest)

results = pd.DataFrame([model.predict(Xtest), ytest]).T
display(results)
print("MODEL SCORE:")
print(model.score(Xtest, ytest))

/Library/Frameworks/Python.framework/Versions/3.8/lib/python3.8/site-packages/sklearn/utils/validation.py:72: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  return f(**kwargs)

[60.35021202 43.59453691 60.14251686 60.99052322 34.81859183 51.40769517
 69.99564896 68.74465122 45.02587616 45.65360547 71.82843251 51.73272898
 67.02639552 52.98924125 74.61341612 81.14625691 49.09818906 46.26877255
 48.76006631 86.74432793 60.33083163 53.42387183 69.93925151]
[[101.08    ]
 [140.922308]
 [124.184211]
 [106.0125  ]
 [103.      ]
 [127.487   ]
 [120.848235]
 [123.94    ]
 [ 95.67    ]
 [108.149   ]
 [126.993   ]
 [142.1955  ]
 [112.862143]
 [118.11    ]
 [124.161333]
 [101.08    ]
 [118.374286]
 [ 87.97    ]
 [ 75.8     ]
 [ 95.975   ]
 [130.447692]
 [128.821111]
 [110.4896  ]]

/Library/Frameworks/Python.framework/Versions/3.8/lib/python3.8/site-packages/sklearn/neural_network/_multilayer_perceptron.py:582: ConvergenceWarning: Stochastic Optimizer: Maximum iterations (500) reached and the optimization hasn't converged yet.
  warnings.warn(

          0                     1
0   60.3502              [101.08]
1   43.5945  [140.92230800000002]
2   60.1425          [124.184211]
3   60.9905            [106.0125]
4   34.8186               [103.0]
5   51.4077             [127.487]
6   69.9956          [120.848235]
7   68.7447              [123.94]
8   45.0259               [95.67]
9   45.6536             [108.149]
10  71.8284             [126.993]
11  51.7327            [142.1955]
12  67.0264  [112.86214299999999]
13  52.9892              [118.11]
14  74.6134  [124.16133300000001]
15  81.1463              [101.08]
16  49.0982  [118.37428600000001]
17  46.2688               [87.97]
18  48.7601                [75.8]
19  86.7443              [95.975]
20  60.3308          [130.447692]
21  53.4239          [128.821111]
22  69.9393            [110.4896]

MODEL SCORE:
-12.056801522246158